.forgotpass{
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url('https://images.pexels.com/photos/3584973/pexels-photo-3584973.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
}
.forgotTitle{
    font-size: 4rem;
}
.forgotForm{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
}
.forgotForm>label{
    margin: 1rem 0;
}
.forgotInput{
    padding: 1rem;
    background-color: white;
    border: none;
    border-radius: 1rem;
}
.forgotInput:focus{
    outline: none;
}
.forgotButton{
    margin-top: 2.5rem;
    cursor: pointer;
    background-color: lightcoral;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 1rem;
    text-align: center;
}