.singlePost{
    flex: 9;
}
.singlePostWrapper{
    padding: 2rem;
    padding-right: 0;
}
.singlePostImg{
    width: 50vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 1rem;
}
.singlePostTitle{
    text-align: center;
    margin: 0.5rem;
    font-size: 3rem;
}
.singlePostEdit{
    float: right;
    font-size: 1.5rem;
}
.singlePostIcon{
    margin-left: 1rem;
    cursor: pointer;
}
.singlePostIcon:first-child{
    color: teal;
}
.singlePostIcon:last-child{
    color: tomato;
}
.singlePostInfo{
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.singlePostAuthor{
    margin-left: 0.5rem;
}
.singlePostDesc{
    font-size: 1.2rem;
    line-height: 2rem;
}
.singlePostDesc::first-letter{
    margin-left: 1rem;
    font-size: 3rem;
    font-weight: 600;
}
.singlePostTitleInput{
    margin: 8rem;
    font-size: 3rem;
    text-align: center;
    border: none;
    color: gray;
    border-bottom: 1px solid #010101;
}
.singlePostDescInput{
    border: none;
    color: gray;
    /* line-height: 2rem; */
    font-size: 1.2rem;
}
.singlePostDescInput:focus{
    outline: none;
}

@media screen and (max-width : 500px) {
    .singlePostImg{
        width: 70vw;
        height: 50vh;
        object-fit: cover;
        border-radius: 1rem;
    }    
    .singlePostTitle{
        text-align: center;
        margin: 0.5rem;
        font-size: 2rem;
    }
    .singlePostInfo{
        margin-bottom: 1rem;
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        font-size: 1rem;
    }
    .singlePostDesc{
        margin-top: 2rem;
        font-size: 1rem;
        line-height: 2rem;
    }
    
}